# Practica Análisis exploratorio de datos

Este notebook está dedicado a dar una muestra de un análisis exploratorio de datos usando diferentes librerias y explicando el funcionamiento de cada paso.

Inicialmente importamos las librerias que vamos a usar

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
import plotly

Vamos a utilizar pandas para leer y manipular la información. Matplotlib, seaborn y plotly las usaremos como librerias de graficación. Para más información de cada una de las librerias se dejan los siguientes enlaces de referencia:
* https://matplotlib.org/stable/
* https://seaborn.pydata.org/
* https://plotly.com/

Inicialmente usamos el metodo read_csv de pandas para leer el archivo donde está almacenada nuestra data. El metodo head se suele usar a continuación para visualizar las primeras filas del dataframe.

In [2]:
df = pd.read_csv('sales_data python.csv')
df.head()

         Date  Store     Category  Units_Sold  Unit_Price
0  2024-01-01    101  Electronics          30      299.99
1  2024-01-01    102     Clothing          45       49.99
2  2024-01-01    103   Home Goods          20       19.99
3  2024-01-02    101  Electronics          25      299.99
4  2024-01-02    102     Clothing          50       49.99

Inicialmente podemos observar que la data consiste de 5 columnas. Tenemos la fecha, el numero de la tienda, categoria, unidades vendidas y precio por unidad. En busqueda de conocer más métodos usaremos el metodo tail que nos muestra las últimas filas del dataframe.

In [3]:
df.tail()

           Date  Store     Category  Units_Sold  Unit_Price
105  2024-01-29    102     Clothing          62       49.99
106  2024-01-29    103   Home Goods          28       19.99
107  2024-01-20    101  Electronics          31      299.99
108  2024-01-20    102     Clothing          55       49.99
109  2024-01-20    103   Home Goods          26       19.99

Ahora vamos a comenzar haciendo un procedimiento estandar en todos los EDA. Inicialmente revisaremos si nuestra data tiene data duplicada.

In [11]:
df.duplicated().sum()

np.int64(55)

Con la celda anterior observamos que hay 55 datos duplicados. Por la naturaleza de la data que consiste en las ventas de diferentes tiendas según días es necesario eliminar las filas duplicadas con el fin de no insertar ruido a nuestra data. Para eliminar los duplicados usamos el metodo drop_duplicates.

In [12]:
df_clean = df.drop_duplicates()
print("len df original", len(df))
print("len df sin duplicados", len(df_clean))

len df original 110
len df sin duplicados 55

Ahora en nuestro dataframe sin duplicados vamos a comenzar a profundizar columna por columna. Usaremos el metodo value_counts() para ver la cantidad de veces que se repite la información en cada columna

In [13]:
df_clean['Category'].value_counts()

Category
Home Goods     19
Electronics    18
Clothing       18
Name: count, dtype: int64

In [14]:
df_clean['Store'].value_counts()

Store
103    19
101    18
102    18
Name: count, dtype: int64

In [15]:
df_clean['Unit_Price'].value_counts()

Unit_Price
19.99     19
299.99    18
49.99     18
Name: count, dtype: int64

La fecha y las unidades vendidas no las miramos en este caso porque intuitivamente deben existir muchos valores y el value_counts no nos daría muchisima infoormación